/* font-family: 'Montserrat', sans-serif; */
// No se necesita ninguna modificación en esta línea

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
}

.footer-diseño {
	font-family: 'Montserrat', sans-serif;
	font-size: 2px !important;
	font-weight: lighter;
	text-align: center;
	margin: 70px 0px 20px 0px;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: black;
}

a:link {
	color: black;
}

.nombre {
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: space-evenly;
}

.trabajos {
	margin-top: 50px !important;
}

.slider {
	padding: 12px;
}

.col-slider {
	padding: 0;
}

.img-slider {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
