/* font-family: 'Montserrat', sans-serif; */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.texto-trabajos {
  font-family: "montserrat", sans-serif;
  margin-top: 80px;
}

h1 {
  font-size: 20px;
  margin-top: 30px;
}

h2 {
  font-size: 30px;
}

h5 {
  font-size: 15px;
}

.domi-fondo {
  background-color: #DED5D4;
  font-family: "montserrat", sans-serif;
  margin-top: 80px;
}

.domi-color {
  color: black;
  line-height: 25px;
}

.imagenes-trabajos {
  margin-top: 40px;
}

footer {
  text-align: center;
  margin: 80px;
  font: "montserrat", sans-serif;
}

.rounded {
  margin-top: 10px;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: black;
}

a:link {
  color: black;
}

.nombre {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-evenly;
}

.trabajos {
  margin-top: 50px !important;
}

.slider {
  padding: 12px;
}

.col-slider {
  padding: 0;
}

.img-slider {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.margen {
  margin: 60px;
  background-color: #DED5D4;
}

.colorboton {
  background-color: #DED5D4;
}

.contactodomi {
  font-family: "montserrat", sans-serif;
  background-color: #DED5D4;
  margin-left: 130px;
}

.margenes {
  margin-top: 100px;
}

.logocontacto {
  margin-right: 130px;
}